{% extends 'base.html' %}
{% block title %}
使用指南
{% endblock %}


{% block head %}

{% endblock %}

{% block page_title %}
{{ self.title() }}
{% endblock %}

{% block main_content %}
<div class="info">

        <div class="info-content0">
            <p style="line-height: 30px">
                针对当前教育信息化指标体系在衡量基础教育学校信息化发展水平存在的问题，本系统运用以投入、配置和应用效果的逻辑线索来设计教育信息化发展水平指标，将其称为教育信息化就绪指标，并把通过这些指标计算得到能够反映基础教育学校信息化发展水平的值称为教育信息化就绪指数。
            </p>
        </div>

    <table class="table table-bordered">
        <caption>教育信息化就绪指数</caption>
        <thead>
                <th>一级指标</th>
                <th>二级指标</th>
                <th>三级指标</th>
        </thead>
        <tbody>
        <tr>
            <td>
                投入
            </td>

            <td>
                生均经费
            </td>
            <td></td>
        </tr>
        <tr>
            <td  rowspan="3">
                配置
            </td>

            <td>
                计算机配置
            </td>

            <td  rowspan="3">

            </td>
        </tr>

        <tr>
            <td>
                多媒体教室配置
            </td>
        </tr>

        <tr>
            <td>
                网络配置
            </td>
        </tr>

        <tr>
            <td rowspan="6">
                效果
            </td>

            <td rowspan="2">
                备课
            </td>

            <td>
                教学效果
            </td>
        </tr>
        <tr>
            <td>
                教学针对性
            </td>
        </tr>

        <tr>
            <td rowspan="2">
                教学
            </td>

            <td>
                优化课堂
            </td>
        </tr>

        <tr>
            <td>
                学习方式转变
            </td>
        </tr>

        <tr>

            <td rowspan="2">
                课程管理
            </td>

            <td>
                管理
            </td>
        </tr>

        <tr>
            <td>
                交流
            </td>
        </tr>
        </tbody>
    </table>

        </div>
    </div>
{% endblock %}